# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/

MacOS-related
*.DS_Store
*/*.DS_Store

#Ignoring result directories
test/data/*/
test/data/*.tar.gz
test/blasr/*/
test/blend/*/
test/conlsh/*/
test/lra/*/
test/mhap/*/
test/minimap2/*/
test/winnowmap/*/

test/comparisons/*/read_mapping/*mosdepth*
test/comparisons/*/read_mapping/*per-base*
test/comparisons/*/read_mapping/*.breadth
test/comparisons/*/read_mapping/*.samtools.*
test/comparisons/*/read_mapping/*.bam*.bed
test/comparisons/*/read_mapping/*.stats
test/comparisons/*/read_mapping/*.mapeval
test/comparisons/*/read_mapping/*.csv
test/comparisons/*/read_mapping/figures/

test/comparisons/*/overlap/dnadiff/
test/comparisons/*/overlap/quast/
test/comparisons/*/overlap/*.stats
test/comparisons/*/overlap/*evaluate.*
test/comparisons/*/overlap/figures/

test/figures/*/*/*.pdf
test/mhap/*.out
test/mhap/*.err

